<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">
</head>
<body>
    <div id="left-container">
        <a href="/dashboard">Home</a>
        <a href="#">Stocks on the Move</a>
        <a href="#">Stock Screener</a>
        <a href="/watchlist">Watchlist</a>
        <a href="/logout">Logout</a>
    </div>
    <div id="right-container">
        <div id="header-container">
            <div id="header">
                <h1>Welcome !</h1>
                <form action="/search", method="post">
                    <input type="search" name="search_stock" placeholder="Look up stock or symbol">
                    <button>Search</button>
                </form>
            </div>
        </div>
        <h2>Today's Movers</h2>
        <div id="content">
            <div class="box-left">
                <h3>S&P 500</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Last Price</th>
                        <th>% Change</th>
                        <th>Total Volume</th>
                    </tr>
                    {% for i in sp500_movers %}
                    <tr>
                        <td>{{ i.description }}</td>
                        <td>{{ i.symbol }} </td>
                        <td>{{ i.last }}</td>
                        <td>{{ i.change }}</td>
                        <td>{{ i.totalVolume }}</td>
                    </tr>
                    {% endfor %}
                </table>
                
                <h3>DOW JONES INDUSTRIAL AVERAGE</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Last Price</th>
                        <th>% Change</th>
                        <th>Total Volume</th>
                    </tr>
                    {% for i in dow_movers %}
                    <tr>
                        <td>{{ i.description }}</td>
                        <td>{{ i.symbol }} </td>
                        <td>{{ i.last }}</td>
                        <td>{{ i.change }}</td>
                        <td>{{ i.totalVolume }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="box-right">
                <h3>NASDAQ</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Last Price</th>
                        <th>% Change</th>
                        <th>Total Volume</th>
                    </tr>
                    {% for i in nasdaq_movers %}
                    <tr>
                        <td>{{ i.description }}</td>
                        <td>{{ i.symbol }} </td>
                        <td>{{ i.last }}</td>
                        <td>{{ i.change }}</td>
                        <td>{{ i.totalVolume }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>