<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="nav-bar" >
        <h1>Welcome!</h1>
        <div id="nav-bar-links">
            <a href="/dashboard">Home</a>
            <a href="/screener1">Stock Screener</a>
            <a href="/watchlist">Watchlist</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/search", method="post">
            <input type="search" name="search_stock" placeholder="Look up stock or symbol">
            <button>Search</button>
        </form>
    </div>


    <h2 id="dashboard-title">Today's Movers</h2>
    <div id="content">
        <div class="content-box-left">
            <div class="dashboard-content-container">
                <h3 class="table-title">S&P 500</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Last Price</th>
                        <th>%&nbspChange</th>
                        <th>Total Volume</th>
                    </tr>
                    {% for i in sp500_movers %}
                    <tr class="movers-table-row">
                        <td>{{ i.description }}</td>
                        <td><a href="/link/search/{{ i.symbol }}">{{ i.symbol }}</a></td>
                        <td>{{ i.last }}</td>
                        {% set decimal = i.change %} 
                        {% set change = decimal * 100 %}
                        <td>{{ '%0.2f' % change | float }}%</td>
                        <td>{{ i.totalVolume }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="dashboard-dow" class="dashboard-content-container">
                <h3 id="dow-table" class="table-title">DOW JONES INDUSTRIAL AVERAGE</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Last Price</th>
                        <th>%&nbspChange</th>
                        <th>Total Volume</th>
                    </tr>
                    {% for i in dow_movers %}
                    <tr class="movers-table-row">
                        <td>{{ i.description }}</td>
                        <td><a href="/link/search/{{ i.symbol }}">{{ i.symbol }}</a></td>
                        <td>{{ i.last }}</td>
                        {% set decimal = i.change %} 
                        {% set change = decimal * 100 %}
                        <td>{{ '%0.2f' % change | float }}%</td>
                        <td>{{ i.totalVolume }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="content-box-right">
            <div class="dashboard-content-container">
                <h3 class="table-title">NASDAQ</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Last Price</th>
                        <th>% Change</th>
                        <th>Total Volume</th>
                    </tr>
                    {% for i in nasdaq_movers %}
                    <tr class="movers-table-row">
                        <td>{{ i.description }}</td>
                        <td><a href="/link/search/{{ i.symbol }}">{{ i.symbol }}</a></td>
                        <td>{{ i.last }}</td>
                        {% set decimal = i.change %}
                        {% set change = decimal * 100 %}
                        <td>{{ '%0.2f' % change | float }}%</td>
                        <td>{{ i.totalVolume }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>