<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">
</head>
<body>
    <div id="left-container">
        <a href="/dashboard">Home</a>
        <a href="#">Stocks on the Move</a>
        <a href="#">Stock Screener</a>
        <a href="/watchlist">Watchlist</a>
        <a href="/logout">Logout</a>
    </div>

    <div id="right-container">
        <div id="header-container">
            <div id="header">
                <h1>Welcome !</h1>
                <form action="/search", method="post">
                    <input type="search" name="search_stock" placeholder="Look up stock or symbol">
                    <button>Search</button>
                </form>
            </div>
        </div>

        <div>
            <div>
                <h2>({{ history_data.symbol }})</h2>
                {% for i in get_flashed_messages(category_filter = ["watchlist"]) %}
                <p>{{ i }}</p>
                {% endfor %}
                <form action="/watchlist/add">
                    <input type="submit" value="Add to Watchlist">
                </form>
            </div>
            <div id="content">
                <div class="box-left">
                    <h3>Equity Data</h3>
                    <div class="stock-row">
                        <p>Description:</p>
                        <p>${{ history_data_info['description'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Exchange:</p>
                        <p>${{ history_data_info['exchange'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Asset Type:</p>
                        <p>${{ history_data_info['assetType'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>52 Week High:</p>
                        <p>${{ history_data['high52'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>52 Week Low:</p>
                        <p>${{ history_data['low52'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Dividend Amount:</p>
                        <p>${{ history_data['dividendAmount'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Dividend Yield:</p>
                        <p>${{ history_data['dividendYield'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Dividend Date:</p>
                        <p>${{ history_data['dividendDate'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Price-Earnings Ratio:</p>
                        <p>${{ history_data['peRatio'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Net Profit Margin:</p>
                        <p>${{ history_data['netProfitMarginTTM'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Return on Equity:</p>
                        <p>${{ history_data['returnOnEquity'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Return on Assets:</p>
                        <p>${{ history_data['returnOnAssets'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Return on Investment:</p>
                        <p>${{ history_data['returnOnInvestment'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Total Debt to Capital:</p>
                        <p>${{ history_data['totalDebtToCapital'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Shares Outstanding:</p>
                        <p>${{ history_data['sharesOutstanding'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Market Cap Float:</p>
                        <p>${{ history_data['marketCapFloat'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Market Cap:</p>
                        <p>${{ history_data['marketCap'] }}</p>
                    </div>
                    <div class="stock-row">
                        <p>Book Value Per Share:</p>
                        <p>${{ history_data['bookValuePerShare'] }}</p>
                    </div>
                </div>

                <div class="box-right">
                    <h3>Today's Performance</h3>
                    <div class="stock-row">
                        <p>Last Price:</p>
                        <p>${{live_data['lastPrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Open Price:</p>
                        <p>${{live_data['openPrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>high Price:</p>
                        <p>${{live_data['highPrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Low Price:</p>
                        <p>${{live_data['lowPrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Close Price:</p>
                        <p>${{live_data['closePrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Net Change:</p>
                        <p>${{live_data['netChange']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Total Volume:</p>
                        <p>${{live_data['totalVolume']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Close Price:</p>
                        <p>${{live_data['closePrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Bid Price:</p>
                        <p>${{live_data['bidPrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Bid Size:</p>
                        <p>${{live_data['bidSize']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Ask Price:</p>
                        <p>${{live_data['askPrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Ask Size:</p>
                        <p>${{live_data['AskSize']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Last Size:</p>
                        <p>${{live_data['lastSize']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Net Change:</p>
                        <p>${{live_data['netChange']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Total Volume:</p>
                        <p>${{live_data['totalVolume']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Close Price:</p>
                        <p>${{live_data['closePrice']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Shortable:</p>
                        <p>${{live_data['shortable']}}</p>
                    </div>
                    <div class="stock-row">
                        <p>Volatility:</p>
                        <p>${{live_data['volatility']}}</p>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div id="content">
                <div class="box-left">
                    <div class="stock-row">
                    </div>
                </div>
                <div class="box-right">
                    <div>xczv</div>
                    <div>xczv</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>