<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="nav-bar" >
        <h1>Welcome!</h1>
        <div id="nav-bar-links">
            <a href="/dashboard">Home</a>
            <a href="/screener1">Stock Screener</a>
            <a href="/watchlist">Watchlist</a>
            <a href="/logout">Logout</a>
        </div>
        <form action="/search", method="post">
            <input type="search" name="search_stock" placeholder="Look up stock or symbol">
            <button>Search</button>
        </form>
    </div>

    <div id="watchlist-container">
        <h2 class="header-title">Watchlist</h2>
        <table>
            <tr>
                <th>Remove</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Net Change</th>
                <th>Volume</th>
            </tr>
            {% for i in watchlists %}
            <tr class="watchlist-row">
                <td><a href="/delete_watchlist/{{ watchlists[i]['symbol'] }}">remove</a></td>
                <td><a href="/link/search/{{ watchlists[i]['symbol'] }}">{{ watchlists[i]['symbol'] }}</td></a>
                <td>{{ watchlists[i]['lastPrice'] }}</td>
                <td>{{ watchlists[i]['netChange'] }}</td>
                <td>{{ watchlists[i]['totalVolume'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>